* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: #1F2937;
}

.header-container {
    margin: 0px 210px 0px 210px;
    padding: 0px 0px 100px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar {
    justify-content: space-between;
    margin: 0px 0px 90px 0px;
}

.nav-item {
    font-weight: 300;
}

body {
    margin: 0px;
}

.flex-container {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    bottom: 0;
    height: 80px;
    background-color: #1F2937;
    color: #f9faf8;
    font-weight: 200;
}

.hero-cont {
    justify-content: space-between;
}

.hero-text-cont {
    width: 450px;
}

.hero-text-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

.hero-text-secondary {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    padding: 0px;
}

.image-placeholder {
    width: 50%;
    background-color: #6D747D;
}

.img-placeholder-text {
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-weight: 600;
    font-size: 16px;
}

.quote-area {
    background-color: #e5e7eb;
    height: 450px;
}

.quote-container {
    width: 780px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 10px 0px 0px 0px
}

.auth-cont {
    justify-content: flex-end;
}

.author {
    font-weight: bold;
    color: #1f2937;
    font-size: 23px;
    margin: 0px 0px 0px 0px;
}

.info-cont {
    margin: 0px 0px 100px 0px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.info-image {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.image-subtext {
    text-align: center;
    font-weight: 400;
    color: #1f2937;
}

.info-image-parent-container {
    gap: 60px;
}

.nav-items-flex {
    gap: 20px;
}

.image-container {
    width: 150px
}

.flex-column {
    flex-direction: column;
}


.cta-container {
    height: 400px;
}

.call-to-action {
    padding: 0px 100px;
    justify-content:space-between;
    background-color: #3882f6;
    border-radius: 8px;
    height: 38%;
    width: 50%;
    color: #e5e7eb;
}
.cta-text-cont {
    text-align:left;
}
.cta-header {
    margin:0px;
    font-size:25px;
}
.cta-text {
    margin: 0px;
    font-size:18px;
    
}

.cta-btn {
    border: solid 2px #e5e7eb;
}
